body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: normal;

    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;

    color: #fff;
    background: #404040 ;
}

.wrap
{   
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    position: relative;

    box-sizing: border-box;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.3%;

    -webkit-transition: background .5s ease;

    transition: background .5s ease;

    color: #323232;
    background: #849d8f;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.col-1
{
    box-sizing: border-box;
    min-width: 200px;
    max-width: 267px;
    -ms-flex-preferred-size: 22.2%;
    -webkit-flex-basis: 22.2%;
    flex-basis: 22.2%;
}

.col-2
{
    box-sizing: border-box;
    min-width: 420px;
    max-width: 560px;
    -ms-flex-preferred-size: 48.8%;
    -webkit-flex-basis: 48.8%;
    flex-basis: 48.8%;
}

.row
{
    box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}



.btn-style
{
    background-image: -webkit-linear-gradient(bottom,#ca3824,#f26843);
    background-image: linear-gradient(0deg,#ca3824,#f26843);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,.64);
}

.btn-style:hover
{
    background-image: -webkit-linear-gradient(bottom,#e74a35,#f26843);
    background-image: linear-gradient(0deg,#e74a35,#f26843);
    box-shadow: 0 2px 2px 0 rgba(172,16,0,1);
}

.btn-style:active
{
    background-image: -webkit-linear-gradient(bottom,#e74a35,#f26843);
    background-image: linear-gradient(0deg,#e74a35,#f26843);
    box-shadow: inset 0 2px 2px 0 rgba(148,39,24,1);
}

h1
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    color: #fff;
}

input:focus {
    outline: none;
}

.hidden
{
    display: none;
}

.show
{
    display: block;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

@-webkit-keyframes bounce {
0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
100% { -webkit-transform: translateY(0); transform: translateY(0); }
}


.modal-content-show {
display: block;
-webkit-animation: bounce 0.6s;
animation: bounce 0.6s;
}

.main-header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-flow: row wrap;

    -webkit-flex-flow: row wrap;

    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.header-side-left
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-width: 560px;

    -ms-flex-flow: row nowrap;

    -webkit-flex-flow: row nowrap;

    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.header-side-right
{
    min-width: 267px;
}



.logo
{
    width: 155px;
    margin-top: -10px;
    margin-right: 15px;
}

.main-menu
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-menu > li
{
    position: relative;

    display: inline-block;

    padding: 7px 0;

    vertical-align: top;
}

.main-menu > li > a
{
    font-size: 16px;
    line-height: 18px;

    padding: 7px 14px;

    text-decoration: none;

    color: #fff;
    border-radius: 15px;
}

.main-menu > li > a:hover
{
    color: #333;
    background-color: #f7f6f3;
}

.main-menu > li > a:active
{
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 rgba(105,105,105,1);
}

.main-menu .current
{
    padding: 7px 14px;

    text-decoration: none;

    border-radius: 15px;
    background-color: #d07058;
}

.main-menu .sub-menu
{
    position: absolute;
    z-index: 30;
    top: 40px;
    left: 0;

    display: none;

    min-width: 143px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-radius: 5px;
    background-color: #f8f7f4;
}

.main-new
{
    position: relative;
}

.main-new:after
{
    position: absolute;
    top: 100%;
    left: 7px;

    width: 128px;
    height: 1px;

    content: '';

    background-color: #d1d0ce;
}

.sub-menu a
{
    font-size: 14px;
    line-height: 16px;

    display: block;

    padding: 10px 0 13px 21px;

    text-decoration: none;

    color: #323232;
    border-radius: 5px;
}

.main-menu > li:hover .sub-menu
{
    display: block;
}

.sub-menu a:hover
{
    background-color: #fbded7;
}

.sub-menu a:active
{
    background-color: #f6b5a5;
}

.user-block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    min-width: 267px;
    margin-bottom: 17px;

    -ms-flex-flow: row wrap;

    -webkit-flex-flow: row wrap;

    flex-flow: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.user-block a
{
    font-size: 14px;
    line-height: 16px;

    text-decoration: none;

    color: #fff;
}

.search
{
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    border-radius: 15px;
    background: url(../img/icon-search.svg) no-repeat 8px ;
    background-color: rgba(255,255,255,.2);
}

.search:hover
{
    background: url(../img/icon-search-active.svg) no-repeat 8px;
    background-color: rgba(248,247,244,1);
}

.entrance,
.shopping-cart
{
    margin: 0;
    margin-left: 10px;
    padding: 0;
    padding: 7px 15px 7px 40px;

    text-align: center;

    border-radius: 15px;
}

.entrance:hover
{
    color: #323232;
    background: url(../img/icon-entrance-hover.svg) no-repeat 15px;
    background-color: rgba(248,247,244,1);
}

.entrance
{
    background: url(../img/icon-entrance.svg) no-repeat 15px;
    background-color: rgba(255,255,255,.2);
}

.shopping-cart
{
    box-sizing: border-box;
    width: 118px;

    background: url(../img/icon-shopping-cart-empty.svg) no-repeat 15px;
    background-color: rgba(255,255,255,.2);
}

.shopping-cart:hover
{
    color: #323232;
    background: url(../img/icon-shopping-cart-full.png) no-repeat 15px;
    background-color: rgba(248,247,244,.99);
}

.hours-phone
{
    font-size: 14px;
    line-height: 16px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;

    color: #fff;

    -ms-flex-flow: row wrap;

    -webkit-flex-flow: row wrap;

    flex-flow: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.hours-phone p
{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.hours
{
    font-size: 22px;
    line-height: 24px;

    color: #fff;
}

.index-slider
{
    position: relative;

    padding-top: 270px;

    text-align: center;

    color: #fff;
}

.slide
{
    display: none;
}

.slide-title
{
    font-size: 60px;
    line-height: 60.35px;

    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slide-btn
{
    font-size: 32px;
    line-height: 44px;

    display: inline-block;

    margin-bottom: 40px;
    padding: 12px 41px;

    vertical-align: top;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 100px;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 20;
    top: 100%;
    bottom: 25px;
    left: 0;

    margin-top: -85px;
}

.slider-controls label
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
}

.slider-controls label:hover
{
    background-color: #fff;
    background-color: rgba(255,255,255,.4);
}

#btn-1:checked ~ .wrap #slide1,
#btn-2:checked ~ .wrap #slide2,
#btn-3:checked ~ .wrap #slide3
{
    display: block;
}


#btn-1:checked ~ .wrap
{
    background: #849d8f url(../img/slide1.png) 50% 5% no-repeat;
}

#btn-2:checked ~ .wrap
{
    background: #8996a6 url(../img/slide2.png) 50% 5% no-repeat;
}

#btn-3:checked ~ .wrap
{
    background: #9d8b84 url(../img/slide3.png) 50% 5% no-repeat;
}

#btn-1:checked ~ .wrap label[for='btn-1'],
#btn-2:checked ~ .wrap label[for='btn-2'],
#btn-3:checked ~ .wrap label[for='btn-3']
{
    background-color: #fff;
}

.wrap:before,
.wrap:after
{
    visibility: hidden;

    content: '';
}

.wrap:before,
.wrap:after
{
    background-image: url(../img/slide2.png);
}

.wrap:after
{
    background-image: url(../img/slide3.png);
}

.breadcrumbs
{
    font-size: 14px;
    line-height: 16px;

    margin-top: -25px;
    margin-bottom: 7px;

    color: #fff;
}

.breadcrumbs ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs li
{
    font-size: 14px;
    line-height: 16px;

    display: inline-block;

    vertical-align: top;

    color: #fff;
}

.breadcrumbs a
{
    font-size: 14px;
    line-height: 16px;

    color: #fff;
}

.all-filters
{
    margin-bottom: 40px;
}

.sorting
{
    display: inline-block;

    width: 193px;
    margin-right: 15px;

    vertical-align: top;

    color: #fff;
}

.sorting h3
{
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    margin-bottom: 7px;
    padding: 0;

    color: #fff;
}

.sorting-select
{
    font-size: 16px;
    line-height: 18px;

    padding: 8px 16px;

    color: #fff;
    border-radius: 20px;
    background-color: #9db1a5;
}

.sorting-select:hover
{
    color: #323232;
    background-color: #fff;
}

.range-filter
{
    display: inline-block;

    width: 219px;
    margin-right: 15px;

    vertical-align: top;
}

.price-controls
{
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 7px;

    color: #fff;
}

.range-controls
{
    position: relative;

    padding: 16px;

    border-radius: 20px;
    background-color: #9db1a5;
}

.range-controls .scale
{
    width: 188px;
    height: 4px;

    background-color: #d1dad3;
}

.range-controls .bar
{
    width: 100px;
    height: 4px;
    margin-left: 30px;

    background-color: #f8f7f4;
}

.toggle
{
    position: absolute;
    top: 8px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 100%;
    background-color: #f8f7f4;
}

.toggle:hover
{
    top: 7px;

    width: 22px;
    height: 22px;
}

.min-toggle
{
    left: 30px;
}

.max-toggle
{
    left: 130px;
}

.fat-filter
{
    display: inline-block;

    vertical-align: top;

    color: #fff;
}

.fat-filter h3
{
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    margin-bottom: 7px;
    padding: 0;
}

.filter-radio
{
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 17px;
    padding: 8px 16px;

    color: #fff;
    border-radius: 20px;
    background-color: #9db1a5;
}

.login-radio
{
    position: relative;

    padding-left: 25px;

    cursor: pointer;
}

.login-radio input[type='radio']
{
    display: none;
}

.login-radio input[type='radio'] + .radio-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 19px;

    border: 1px solid #fff;
    border-radius: 100%;
}

.login-radio:hover input[type='radio'] + .radio-indicator
{
    width: 17px;
    height: 17px;

    border: 2px solid #fff;
}

.login-radio input[type='radio']:checked + .radio-indicator::before
{
    position: absolute;
    top: 4px;
    left: 4px;

    width: 11px;
    height: 11px;

    content: '';

    border-radius: 100%;
    background-color: #fff;
}

.login-radio:hover input[type='radio']:checked + .radio-indicator::before
{
    top: 3px;
    left: 3px;
}

.filter-radio ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-radio li
{
    display: inline-block;

    margin-right: 19px;

    vertical-align: top;
}

.filter-fillers
{
    display: inline-block;

    margin-right: 14px;

    vertical-align: top;

    color: #fff;
}

.filter-fillers h3
{
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    margin-bottom: 7px;
    padding: 0;

    color: #fff;
}

.filter-fillers ul
{
    font-size: 16px;
    line-height: 18px;

    margin: 0;
    padding: 0;
    padding: 8px 16px;

    list-style: none;

    color: #fff;
    border-radius: 20px;
    background-color: #9db1a5;
}


.filter-fillers li
{
    display: inline-block;

    padding-right: 20px;

    vertical-align: top;
}

.login-checkbox
{
    position: relative;

    padding-left: 25px;

    cursor: pointer;
}

.login-checkbox input[type='checkbox']
{
    display: none;
}

.login-checkbox input[type='checkbox'] + .checkbox-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    border: 1px solid #fff;
    border-radius: 3px;
}

.login-checkbox:hover input[type='checkbox'] + .checkbox-indicator
{
    width: 16px;
    height: 16px;

    border: 2px solid #fff;
}

.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::before
{
    position: absolute;
    top: 9px;
    left: 1px;

    width: 9px;
    height: 3px;

    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

    background-color: #fff;
}

.login-checkbox:hover input[type='checkbox']:checked + .checkbox-indicator::before
{
    top: 8px;
    left: 0;
}

.login-checkbox input[type='checkbox']:checked + .checkbox-indicator::after
{
    position: absolute;
    top: 8px;
    left: 5px;

    width: 12px;
    height: 3px;

    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

    background-color: #fff;
}

.login-checkbox:hover input[type='checkbox']:checked + .checkbox-indicator::after
{
    top: 7px;
    left: 4px;
}

.disabled-filter
{
    opacity: .4;
}

.filter-btn
{
    font-size: 16px;
    line-height: 18px;

    display: inline-block;

    padding: 6px 26px;

    vertical-align: bottom;

    color: #fff;
    border: 2px solid #fcfcfc;
    border-radius: 20px;
    background-color: #9db1a5;
}

.filter-btn:hover
{
    color: #323232;
    border: 2px solid #fff;
    background-color: #fff;
}

.filter-btn:active
{
    color: #323232;
    border: 2px solid #eaeaea;
    background-color: #eaeaea;
    box-shadow: inset 0 2px 0 0 #696969;
}

.catalog-ice-creams
{
    display: -webkit-box;
    display: -ms-flexbox;
    display:         -webkit-flex;
    display:         flex;

    margin-bottom: 15px;
    -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
}

.ice-creams
{
    position: relative;

    min-width: 214px;
    max-width: 278px;
    margin-bottom: 40px;
}


.ice-creams img
{
    width: 100%;
    height: auto;

    border-radius: 50%;
}

.img-ice-creams
{
    position: relative;
}

.icon-hit
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 60px;
    height: 60px;

    border-radius: 100%;
    background: #fff url('../img/icon-hit.png');
}


.price
{
    font-size: 35px;
    line-height: 45px;

    position: absolute;
    top: 75%;

    color: #fff;
}

.ruble
{
    font-size: 45px;

    padding-right: 35px;

    background: url(../img/icon-ruble.svg) 80px 9px no-repeat;
}

.ice-creams a
{
    font-size: 16px;
    line-height: 22px;

    display: block;

    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;

    color: #fff;
}

.ice-creams::before
{
    position: absolute;
    top: -3px;
    left: -3px;

    display: none;

    width: calc(100% + 5px);
    height: calc(100% + 80px);

    content: '';

    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
}

.ice-creams:hover::before
{
    display: block;
}

.quick-view
{
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;

    display: none;

    width: 100%;
}

.quick-view .quick-view-btn
{
    font-size: 18px;
    line-height: 24px;

    top: 100%;
    left: 0;

    display: block;

    min-width: 195px;
    max-width: 200px;
    margin: 0;
    margin: auto;
    padding: 0;
    padding: 15px 0;

    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background-color: #f06541;
}

.ice-creams:hover .quick-view
{
    display: block;
}

.quick-view-btn:hover
{
    background-color: #f48568;
}


.ice-creams:hover a
{
    text-decoration: none;
}

.promo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display:         -webkit-flex;
    display:         flex;

    margin-bottom: 40px;
    -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
}

.raspberry
{
    font-size: 18px;
    line-height: 22px;

    height: 230px;
    padding: 20px;

    color: #fff;
    border-radius: 15px;
    background: #61010c url(../img/background-discount-raspberry-big.jpg);
}

.promo h2
{
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.promo p
{
    font-size: 18px;
    line-height: 22px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.chocolate
{
    font-size: 18px;
    line-height: 22px;

    height: 230px;
    padding: 20px;

    color: #fff;
    border-radius: 15px;
    background: #482a1d url(../img/background-discount-chocolate-big.jpg);
}

.btn-promo
{
    font-size: 18px;
    line-height: 24px;

    float: right;

    margin: 0;
    padding: 10px 22px;

    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background-color: #f06541;
}

.btn-promo:hover
{
    background-color: #f48568;
}



.advantages
{
    font-size: 16px;
    line-height: 22px;

    display: -webkit-box;
    display: -ms-flexbox;
    display:         -webkit-flex;
    display:         flex;

    box-sizing: border-box;
    min-height: 305px;
    max-height: 372px;
    margin-bottom: 40px;

    border-radius: 15px;
    background: #ece0c5 url(../img/Background-advantages.png) repeat;
    -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
}

.advantages h1
{
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    margin-top: 23px;
    margin-bottom: 24px;
    margin-left: 20px;
    padding: 0;

    color: #323232;
}

.advantages-all
{
    display: -webkit-box;
    display: -ms-flexbox;
    display:         -webkit-flex;
    display:         flex;
    -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.advantages p
{
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.advantage-item
{
    position: relative;

    padding-left: 55px;
}

.advantage-item:nth-child(2n+1)
{
    padding-left: 75px;
}

.advantage-item .icon
{
    position: absolute;
    top: -10px;
    left: 0;

    width: 47px;
    height: 47px;
}

.advantage-item:nth-child(2n+1) .icon
{
    left: 20px;
}

.advantage-item .ice-cream
{
    background: url(../img/icon-ice-cream.svg) no-repeat;
}

.advantage-item .cow
{
    background: url(../img/icon-cow.svg) no-repeat;
}

.advantage-item .sheet
{
    background: url(../img/icon-sheet.svg) no-repeat;
}

.advantage-item .thermometer
{
    background: url(../img/icon-thermometer.svg) no-repeat;
}

.news-subscribe
{
    display: -webkit-box;
    display: -ms-flexbox;
    display:         -webkit-flex;
    display:         flex;

    margin-bottom: 40px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
}

.news-subscribe .side-left
{
    font-size: 16px;
    line-height: 22px;

    height: 220px;
    padding: 27px 20px;

    border-radius: 15px;
    background: #fff url(../img/background-news-side-left-10-ways-of-serving.jpg) no-repeat;
}

.news-subscribe h4
{
    margin: 0;
    padding: 0;
}

.news-subscribe a
{
    font-size: 24px;
    line-height: 30px;

    color: #323232;
}

.news-subscribe .border-subscribe
{
    box-sizing: border-box;
    height: 210px;
    padding: 27px 20px;

    border-radius: 15px;
    background: #f8f7f4;
}

.news-subscribe .side-right
{
    font-size: 16px;
    line-height: 22px;

    height: 220px;
    padding: 5px;

    border-radius: 15px;
    background: -webkit-repeating-linear-gradient(315deg,white,white 5px,#92cdff 5px,#92cdff 10px,white 10px,white 15px,#fe9e90 15px,#fe9e90 20px);
    background: repeating-linear-gradient(135deg,white,white 5px,#92cdff 5px,#92cdff 10px,white 10px,white 15px,#fe9e90 15px,#fe9e90 20px);
}

.subscribe-text
{
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
}

.email-flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    -webkit-justify-content: space-between;

    justify-content: space-between;
    -ms-flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.email-text
{
    box-sizing: border-box;
    width: 365px;
    min-width: 230px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #d3d3d2;

    border-radius: 5px;
}

.email-btn
{
    font-size: 18px;
    line-height: 24px;

    padding: 12px 18px;

    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 100px;
    background-color: #f06541;
}

.email-btn:hover
{
    background-color: #f48568;
}

.paginator
{
    float: right;

    margin-bottom: 30px;
    padding-left: 61px;
}



.paginator a
{
    font-size: 16px;
    line-height: 26px;

    display: inline-block;

    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 100%;
}

.paginator a:hover
{
    background-color: #9db1a5;
}

.paginator a:active
{
    color: #323232;
    background-color: #fff;
}

.paginator .current
{
    color: #323232;
    background-color: #fff;
}

.disabled
{
    opacity: .2;
}

.paginator .prev
{
    position: relative;

    text-indent: -10000px;
}

.paginator .next
{
    position: relative;

    text-indent: -10000px;
}

.prev::before,
.prev::after,
.next::before,
.next::after
{
    position: absolute;
    left: 1px;
    left: 7px;

    width: 10px;
    height: 2px;

    content: '';

    background-color: #fff;
}

.prev::before,
.next::before
{
    top: 9px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.next::before
{
    top: 9px;

    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
}

.prev::after,
.next::after
{
    top: 15px;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.next::after
{
    top: 15px;

    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
}

.map
{
    position: relative;

    width: 104.6%;
    height: 430px;
    margin-left: -2.3%;

    background: #d9d3ba url(../img/map.jpg) no-repeat;
}

.contacts
{
    position: absolute;
    top: 0;
    left: 95.4%;

    box-sizing: border-box;
    width: 329px;
    height: 306px;
    margin-top: 62px;
    margin-left: -329px;
    padding: 27px;

    border-radius: 20px;
    background-color: #fffffe;
}

.contacts p
{
    font-size: 14px;
    line-height: 20px;

    color: #323232;
}

.contacts p:nth-child(2) {
    margin-bottom: 30px;
}

.contacts .adress
{
    font-size: 18px;
    line-height: 24px;
}

.contacts .phone
{
    font-size: 18px;
    line-height: 22px;
}

.feedback-form
{
    font-size: 18px;
    line-height: 24px;

    padding: 12px 22px;

    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 100px;
    background-color: #f06541;
}

.feedback-form:hover
{
    background-color: #f48568;
}

.main-footer
{
    position: relative;

    padding-top: 35px;
    margin-top: 40px;
}

.footer-social
{
    float: left;
}

.footer-social .btn-social
{
    display: inline-block;

    width: 31px;
    height: 31px;
    margin-right: 10px;

    vertical-align: top;

    opacity: .8;
    border: 3px solid rgba(255,255,255,.5);
    border-radius: 100%;
}

.footer-social .btn-social:hover
{
    opacity: 1.0;
    border: 3px solid rgba(255,255,255,.71);
}

.footer-social .btn-social:active
{
    opacity: 1.0;
    border: 3px solid rgb(254,254,254,.70);
    box-shadow: inset 0 2px 0 0 #888;
}

.btn-social
{
    text-indent: -1000px;
}

.btn-social-twitter
{
    background: url(../img/social-twitter.svg)  no-repeat;
}

.btn-social-inst
{
    background: url(../img/social-inst.svg)  no-repeat;
}

.btn-social-fb
{
    background: url(../img/social-fb.svg)  no-repeat;
}

.btn-social-vk
{
    background: url(../img/social-vk.svg)  no-repeat;
}


.footer-documentation
{
    position: relative;

    float: left;

    box-sizing: border-box;
    width: 586px;
}

.footer-documentation a
{
    font-size: 13px;
    line-height: 18px;

    float: left;

    box-sizing: border-box;
    width: 293px;
    padding-left: 5px;

    color: #fff;
}

.footer-documentation a:nth-child(odd)
{
    padding-left: 155px;
}

.footer-documentation .icon-heart
{
    position: absolute;
    top: 0;
    left: 134px;

    width: 15px;
    height: 13px;

    background: url(../img/icon-heart.svg) no-repeat;
}

.footer-copyright
{
    float: right;

    margin-top: -15px;
}

.footer-copyright a,
.footer-copyright
{
    font-size: 12px;
    line-height: 18px;

    color: #fff;
}



.modal-content-feedback
{
    font-size: 16px;
    line-height: 24px;

    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 480px;
    margin: 0;
    padding: 0;
    padding: 25px;
    margin-left: -240px;
    margin-top: -250px;


    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-feedback-close
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 18px;
    height: 17px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}

.modal-feedback-close::before,
.modal-feedback-close::after
{
    position: absolute;
    top: 8px;
    left: 1px;

    width: 16px;
    height: 2px;

    content: '';

    background-color: #000;
}

.modal-feedback-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-feedback-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-content-feedback h2
{
    font-size: 24px;
    line-height: 28px;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    color: #323232;
}

.feedback-name,
.feedback-email
{
    width: 237px;
    margin-bottom: 20px;
    padding: 14px;

    border-radius: 5px;
}

.feedback-text
{
    width: 398px;
    min-height: 155px;
    margin-bottom: 25px;
    padding: 14px;

    border-radius: 5px;
}

.btn-send
{
    font-size: 18px;
    line-height: 24px;

    float: right;

    padding: 10px 25px;

    color: #fefefe;
    border-radius: 25px;
    background-color: #f16642;
}


.modal-overlay
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);
}


.modal-content-search
{
    font-size: 14px;
    line-height: 24px;

    position: absolute;
    top: 35px;
    left: 97.7%;

    box-sizing: border-box;
    width: 320px;
    margin-top: 2.3%;
    margin-left: -545px;
    padding: 20px;

    color: #999;
    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-search
{
    width: 282px;
    padding: 10px 13px;
    border: 1px solid #d3d3d2;
    

    border-radius: 5px;
}

.modal-content-entrance
{
    font-size: 14px;
    line-height: 24px;

    position: absolute;
    top: 35px;
    left: 97.7%;

    box-sizing: border-box;
    width: 320px;
    margin-top: 2.3%;
    margin-left: -450px;
    padding: 20px;

    border-radius: 5px;
    background-color: #f8f7f4;
}

.login-email,
.password
{
    width: 238px;
    margin: 0;
    margin-bottom: 20px;
    padding: 14px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.btn-entrance
{
    float: left;

    margin-right: 20px;
    padding: 10px 25px;

    color: #fefefe;
    border-radius: 25px;
    background-color: #f16642;    
    border: none;    
}

.modal-content-entrance a
{
    font-size: 14px;
    line-height: 24px;

    float: left;

    text-decoration: underline;

    color: #323232;
}

.modal-content-shopping-cart
{
    font-size: 13px;
    line-height: 16px;

    position: absolute;
    top: 35px;
    left: 97.7%;

    box-sizing: border-box;
    width: 541px;
    min-height: 242px;
    margin-top: 2.3%;
    margin-left: -541px;
    padding: 0 15px;

    content: '';

    color: #323232;
    border-radius: 5px;
    background-color: #f8f7f4;
}

.modal-content-shopping-cart .table
{
    position: relative;

    display: table;

    box-sizing: border-box;
    min-width: 510px;
    min-height: 70px;
    margin-bottom: 15px;
    padding: 0;

    border-spacing: 25px;

    border-bottom: 1px solid #cacac7;
}

.table span
{
    color: #999;
}

.table img
{
    width: 33px;
    height: 33px;

    border-radius: 100%;
}

.modal-content-shopping-cart .raw
{
    display: table-row;
}

.modal-content-shopping-cart .cell
{
    position: relative;

    display: table-cell;
    
    vertical-align: middle;
}

.modal-content-shopping-cart-close
{
    font-size: 0;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 18px;
    height: 17px;

    cursor: pointer;

    border: 0;
    outline: 0;
    background-color: transparent;
}

.modal-content-shopping-cart-close::before,
.modal-content-shopping-cart-close::after
{
    position: absolute;
    top: 50%;
    left: 15 px;

    width: 16px;
    height: 2px;

    content: '';

    background-color: #000;
    
    margin-top: -8px;
}

.modal-content-shopping-cart-close::before
{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-content-shopping-cart-close::after
{
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-content-shopping-cart .total-price
{
    margin-bottom: 15px;

    text-align: right;
}

.modal-content-shopping-cart .checkout-btn
{
    font-size: 18px;
    line-height: 24px;

    float: right;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding: 10px;

    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background-color: #f06541;
}

iframe {
    width: 100%;
    height: 100%;
}